<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Weather</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Weather Station</h1>
        </div>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Temperature</h4>
                    <p class="card-text">{{temp}} degrees</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Humidity</h4>
                    <p class="card-text">{{humidity}}% humidity</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pressure</h4>
                    <p class="card-text">{{pressure}} mbars</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>